@import "../../variables";

.container {
  display: flex;
  flex-direction: column;
}

.answers_table {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;

  ul {
    flex-grow: 3;
  }

  section {
    flex-grow: 1;
  }
}
